
:root{
  --red-back: rgba(237, 75, 75, 0.856)
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}



.card-row{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}





.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}


.task-card-container{
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 20px 50px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  font-family: sans-serif;
  border: 1px solid black;
}

.task-card-headdiv{
  width: 100%;
  background-color: rgba(237, 75, 75, 0.481);
  margin-bottom: 0;
  border-bottom: 1px solid dimgray;
}

.task-card-title{
  cursor: grab;

}

.task-card-title:active{
  cursor: grabbing;

}

#modal-form{
  display: flex;
  flex-direction: column;
}

#input-div{
  display: flex;
  flex-direction: row;
}

.task-card-del{
  height: 30px;
  width: 75px;
  margin-bottom: 10px;
  background-color: var(--red-back);
  border: 1px solid white;
  border-radius: 5px;
}


#modal-footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

